<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us" class="no-js">

  {% include head.html %}

  <body>

    {% include sidebar.html %}

    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
    <div class="wrap">

      <div class="masthead">
        <div class="container">
          <h3 class="masthead-title">

            <!--[if lt IE 9 ]>
            <div class="navbar navbar-fixed-top">
              <div class="navbar-inner">
                <div class="container-fluid">
                  <ul class="nav pull-left">
                    <div class="brand">
                      <![endif]--> 
                      <a href="/" title="Home">{{ site.title }}</a>
                      <!-- <small>{{ site.tagline }}</small> -->
                      <!--[if lt IE 9 ]>
                    </div>
                  </ul>

                  <div class="brand">
                    <ul class="nav pull-right">
                       <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                          <i class="icon-cog"></i>
                          <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                          {% assign pages_list = site.pages %}
                          {% for node in pages_list %}
                            {% if node.title != null %}
                              {% if node.layout == "page" %}
                                <li><a href="{{ node.url }}">{{ node.title }}</a></li>
                              {% endif %}
                            {% endif %}
                          {% endfor %}
                          <li class="navbar-text"><a href="https://files.iainmclaren.com">Secure Portal</a></li>
                          <li class="navbar-text"><a href="http://linkedin.com/in/iainmclaren">About</a></li>
                          <li class="divider"></li>
                          <li class="navbar-text"><a href="mailto:admin@iainmclaren.com">admin@iainmclaren.com</a></li>
                        </ul>
                      </li>
                    </ul>
                  </div>

                </div>
              </div>
            </div>
            <![endif]--> 
          </h3>
        </div>
      </div>

      <!--[if lt IE 9 ]>
      <ul class="breadcrumb"></ul>
      <![endif]--> 

      <div class="container content">
        <!--[if lt IE 9 ]><div class="container"><![endif]--> 
          {{ content }}   
        <!--[if lt IE 9 ]></div><![endif]--> 
      </div>
    </div>

    <label for="sidebar-checkbox" class="sidebar-toggle"></label>

    <script>
      (function(document) {
        var toggle = document.querySelector('.sidebar-toggle');
        var sidebar = document.querySelector('#sidebar');
        var checkbox = document.querySelector('#sidebar-checkbox');

        document.addEventListener('click', function(e) {
          var target = e.target;

          if(!checkbox.checked ||
             sidebar.contains(target) ||
             (target === checkbox || target === toggle)) return;

          checkbox.checked = false;
        }, false);
      })(document);
    </script>
  </body>
</html>
